__pycache__
/*/__pycache__/
/*/*/__pycache__/
.idea*
/course1/logs/
/course2/logs/
/course3/logs/
/course4/logs/
/course5/logs/
.DS_Store
logs/*
/course3/examples/ddpg/trained_model
/course3/docs/rlcn_2022_rl_algorithms
/course4/docs/rlchina_pbl
